
API_HOST = None     # Leave as none unless self-hosting a domain/PDS
API_USER = ''       # You can figure out the rest
API_PASS = ''       #

DEBUG = False

LOC_LAT = '53.3696389'
LOC_LON = '1.4706554'
TZ_DISP = ZoneInfo('Europe/London')
